---

---

<!-- Niveles oferta educativa -->
 <section class="py-16 px-4 md:px-8 bg-white">
  <h2 class="text-3xl md:text-4xl font-bold text-center text-[#1F3C88] mb-12">
    Explora otros niveles académicos
  </h2>
  <div class="max-w-6xl mx-auto grid gap-8 md:grid-cols-3">
    <!-- Card 1: Ingenierías -->
    <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
      <img src="/images/ingenieria.png" alt="Ingenierías" class="w-full h-48 object-cover" />
      <div class="p-6 flex flex-col items-start">
        <h3 class="text-xl font-semibold text-[#1F3C88] mb-2">Ingenierías</h3>
        <p class="text-sm text-gray-600 mb-4">Formación técnica y científica para resolver problemas reales con innovación.</p>
        <!-- <p class="text-sm text-gray-600 mb-4">Programas profesionales para iniciar tu carrera universitaria con bases sólidas.</p> -->
        <a href="/licenciaturas" class="inline-block bg-[#F57C00] text-white px-4 py-2 rounded hover:bg-[#e56e00] transition">
          Ver programas
        </a>
      </div>
    </div>

    <!-- Card 2: Maestrías -->
    <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
      <img src="/images/maestria.png" alt="Maestrías" class="w-full h-48 object-cover" />
      <div class="p-6 flex flex-col items-start">
        <h3 class="text-xl font-semibold text-[#1F3C88] mb-2">Maestrías</h3>
        <p class="text-sm text-gray-600 mb-4">Especialízate y profundiza tu conocimiento con programas de alto nivel académico.</p>
        <a href="/ingenierias" class="inline-block bg-[#F57C00] text-white px-4 py-2 rounded hover:bg-[#e56e00] transition">
          Ver programas
        </a>
      </div>
    </div>

    <!-- Card 3: Doctorados -->
    <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
      <img src="/images/doctorado.png" alt="Doctorados" class="w-full h-48 object-cover" />
      <div class="p-6 flex flex-col items-start">
        <h3 class="text-xl font-semibold text-[#1F3C88] mb-2">Doctorados</h3>
        <p class="text-sm text-gray-600 mb-4">Especialízate y profundiza tu conocimiento con programas de alto nivel académico.</p>
        <a href="/posgrados" class="inline-block bg-[#F57C00] text-white px-4 py-2 rounded hover:bg-[#e56e00] transition">
          Ver programas
        </a>
      </div>
    </div>
  </div>
</section>