---
import Image from "astro/components/Image.astro";

import doctoradoHero from '../../assets/images/doctoradoshero.png';
---
<section class="relative w-full h-[60vh] overflow-hidden">
  <Image 
    src={doctoradoHero}
    alt="Maestrías IUP"
    class="absolute inset-0 w-full h-full object-cover"
    width={1920}
    height={1080}
    loading="eager"
  />
  <div class="relative z-10 flex flex-col items-center justify-center h-full bg-black/40 px-4 text-center">
    <h1 class="text-white text-4xl md:text-5xl font-bold mb-6">
      Descubre nuestros Doctorados
    </h1>
    <a
      href="https://api.whatsapp.com/send?phone=5212284071949" target="_blank" rel="noopener noreferrer"
      class="inline-block bg-[#F57C00] text-white font-semibold px-6 py-3 rounded-md shadow-lg hover:bg-orange-600 transition"
    >
      Solicita Informes
    </a>
  </div>
</section>
