---
// No requiere props
---

<nav class="bg-[#F3F4F6] text-[#1F3C88] py-3 px-4 shadow-sm border-b border-[#E0E0E0] relative z-40">
  <div class="max-w-screen-xl mx-auto flex justify-between items-center">
    <img src="/images/iuplogo.png" alt="Instituto Universitario Puebla" class="h-8 w-auto" />
    <!-- <h1 class="text-xl font-bold tracking-wide text-[#1F3C88]">&lt;IUP&gt;</h1> -->
    <ul class="flex space-x-6 font-medium">
      <li><a href="/  " class="hover:text-[#F57C00] transition">Inicio</a></li>
      <li><a href="/licenciaturas" class="hover:text-[#F57C00] transition">Licenciaturas</a></li>
      <li><a href="/ingenierias" class="hover:text-[#F57C00] transition">Ingenierias</a></li>
      <li><a href="/maestrias" class="hover:text-[#F57C00] transition">Maestrias</a></li>
      <li><a href="/doctorados" class="hover:text-[#F57C00] transition">Doctorados</a></li>
      <li><a href="/contacto" class="hover:text-[#F57C00] transition">Contacto</a></li>
    </ul>
  </div>
</nav>
