---
import { Icon } from 'astro-icon/components';
---

<div
  id="topbar"
  class="fixed top-0 left-0 w-full h-[26px] bg-[#003366] text-white text-sm py-1 px-4 transition-transform duration-500 ease-in-out z-[60]"
>
  <div class="max-w-screen-xl mx-auto flex justify-between items-center">
    <span class="text-xs">
      <a href="https://api.whatsapp.com/send?phone=5212284071949" target="_blank" class="hover:text-[#F57C00] transition text-xs">Informes Whatsapp</a>
    </span>
    <div class="space-x-2">
      <a href="https://www.facebook.com/informesiup" target="_blank" class="hover:text-[#F57C00] transition text-xs">Facebook</a>
      <a href="https://www.instagram.com/universitariopuebla" target="_blank" class="hover:text-[#F57C00] transition text-xs">Instagram</a>
      <a href="https://www.tiktok.com/@iup.xalapa" target="_blank" class="hover:text-[#F57C00] transition text-xs">Tiktok</a>
    </div>
  </div>
</div>

