---
import Image from "astro/components/Image.astro";

import licenciaturaHero from '../../assets/images/licenciaturashero.png';
---
<section class="relative w-full h-[60vh] overflow-hidden">
  <Image
    src={licenciaturaHero}
    alt="Imagen representativa de las licenciaturas"
    class="absolute inset-0 w-full h-full object-cover"
    width={1920}
    height={1080}
    loading="eager"
  />
  <!-- <img
    src="/images/licenciaturashero.png"
    alt="Imagen representativa de las licenciaturas"
    class="absolute inset-0 w-full h-full object-cover"
  /> -->
  <div class="relative z-10 flex flex-col items-center justify-center h-full bg-black/40 px-4 text-center">
    <h1 class="text-white text-4xl md:text-5xl font-bold mb-6">
      Ingeniería Industrial
    </h1>
    <a
      href="#programas"
      class="inline-block bg-[#F57C00] text-white font-semibold px-6 py-3 rounded-md shadow-lg hover:bg-orange-600 transition"
    >
      Solicita Informes
    </a>
  </div>
</section>
